<!doctype html>
<html>

    <head>
        <meta charset='utf-8' />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta name="description" content="Ng-pageslide : AngularJS sliding panel for serving additional content" />

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="angular-pageslide-directive.js"></script>
        <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/foundation/5.0.0/css/foundation.min.css">
        <title>AngularJS Pageslide directive demo</title>
        <style>
            /* Needed for hiding crollbars when pushing */
            html {
                overflow-x: hidden;
            }

            .ng-pageslide {
                background: #eee;
            }

            body.ng-pageslide-body-open::before {
                content: '.';
                display: block;
                position: absolute;
                top: 0;
                background-color: rgb(0,0,0);
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                opacity: 0.5;
                transition: opacity 1s;
                opacity: 0.5;
                pointer-events: all;
            }

            body.ng-pageslide-body-closed::before {
                transition: opacity 1s;
                content: '.';
                display: block;
                position: absolute;
                top: 0;
                background-color: rgb(0,0,0);
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                opacity: 0;
                pointer-events: none;
            }

            #container1, #container2 {
                width: 100%;
                height: 20rem;
                border: 1px solid lightGrey;

                p {
                    font-size: 0.5rem!important;
                }
            }

        </style>

        <script>
            var app = angular.module("app", ["pageslide-directive"]);

            app.controller('pageslideCtrl',['$scope',function($scope){

                $scope.checked = false;
                $scope.size = '100px';

                $scope.toggle = function() {
                    $scope.checked = !$scope.checked
                }

                $scope.mockRouteChange = function () {
                    $scope.$broadcast('$locationChangeStart');
                }

                $scope.onopen = function () {
                    alert('Open');
                    console.log(this, $scope);
                }

                $scope.onclose = function () {
                    alert('Close');
                    console.log($scope);
                }
            }]);

        </script>
    </head>

    <body ng-app="app">


        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer" style="padding:20px">
            <header>
            <h1>
                <a name="angularjs-pageslide-directive" class="anchor" href="#angularjs-pageslide-directive"><span class="octicon octicon-link"></span></a>AngularJS Pageslide directive
            </h1>
            </header>

            <section id="main_content" class="inner">

                <p>
                    An <a href="http://angularjs.org/">AngularJS</a> directive which slides another panel over your browser to reveal an additional interaction pane.<br/>
                    It does all the css manipulation needed to position your content off canvas with html attibutes and it does not depend on jQuery
                </p>

                <div ng-controller="pageslideCtrl">
                    <a class="large button" href="" ng-click="toggle()">Open Demo</a>
                    <div pageslide ps-open="checked">
                        <div style="padding:20px" id="demo-right">
                            <h2>Hello Pageslide</h2>
                            <p>Put here whatever you want</p>
                            <a ng-click="toggle()" class="button" >Close</a>
                        </div>
                    </div>
                </div>

                <h3>Different speeds</h3>
                <div ng-controller="pageslideCtrl">
                    <a class="tiny button" href="" ng-click="toggle()">Slowmo</a>
                    <div pageslide ps-open="checked" ps-speed="2">
                        <div style="padding:20px" id="demo-right">
                            <h2>Hello Pageslidoo</h2>
                            <p>Put here whatever you want</p>
                            <a ng-click="toggle()" class="button" >Close</a>
                        </div>
                    </div>
                </div>

                <div ng-controller="pageslideCtrl">
                    <a class="tiny button" href="" ng-click="toggle()">Fastbro</a>
                    <div pageslide ps-open="checked" ps-speed="0.25">
                        <div style="padding:20px" id="demo-right">
                            <h2>Hello Pageslidoy</h2>
                            <p>Put here whatever you want</p>
                            <a ng-click="toggle()" class="button" >Close</a>
                        </div>
                    </div>
                </div>

                <h3>Different directions</h3>
                <div ng-controller="pageslideCtrl">
                    <a class="tiny button" href="" ng-click="toggle()">Up up and above</a>
                    <div pageslide ps-open="checked" ps-side="top">
                        <div style="padding:20px" id="demo-right">
                            <h2>Hello Pageslide</h2>
                            <p>Put here whatever you want</p>
                            <a ng-click="toggle()" class="button" >Close</a>
                        </div>
                    </div>
                </div>

                <div ng-controller="pageslideCtrl">
                    <a class="tiny button" href="" ng-click="toggle()">Go west</a>
                    <div pageslide ps-open="checked" ps-side="left">
                        <div style="padding:20px" id="demo-right">
                            <h2>Hello Pageslide</h2>
                            <p>Put here whatever you want</p>
                            <a ng-click="toggle()" class="button" >Close</a>
                        </div>
                    </div>
                </div>

                <h3>Push content</h3>
                <div ng-controller="pageslideCtrl">
                    <a class="tiny button" href="" ng-click="toggle()">Open Sidebar</a>
                    <div pageslide ps-open="checked" ps-side="left" ps-push="true" >
                        <div style="padding:20px" id="demo-right">
                            <h2>Hello Pageslide</h2>
                            <p>Put here whatever you want</p>
                            <a ng-click="toggle()" class="button" >Close</a>
                        </div>
                    </div>
                </div>

                <h3>Escape key to close</h3>
                <div ng-controller="pageslideCtrl">
                    <a class="tiny button" href="" ng-click="toggle()">Open sidebar</a>
                    <div pageslide ps-open="checked" ps-key-listener="true">
                        <div style="padding:20px" id="demo-right">
                            <h2>Hello Pageslide</h2>
                            <p>hit the escape key to close the sidebar</p>
                            <a ng-click="toggle()" class="button" >Close</a>
                        </div>
                    </div>
                </div>

                <br/>

                <div ng-controller="pageslideCtrl">
                    <h3>As an attribute</h3>
                    <p>Check to open: <input type="checkbox" ng-model="checked" ></p>
                    <div pageslide ps-open="checked" >
                    <div style="padding:20px">
                        <h2>Cool Pageslide</h2>
                        <p>Put here whatever you want</p>
                    </div>
                    </div>
                </div>

                <div ng-controller="pageslideCtrl">
                    <h3>As an element</h3>
                    <p>Check to open: <input type="checkbox" ng-model="checked" ></p>
                    <pageslide ps-open="checked" >
                    <div style="padding:20px">
                        <h2>Yes Pageslide</h2>
                        <p>Put here whatever you want</p>
                    </div>
                    </pageslide>
                </div>

                <div ng-controller="pageslideCtrl">
                    <h3>Custom class on container</h3>
                    <p>Check to open: <input type="checkbox" ng-model="checked" ></p>
                    <pageslide ps-open="checked" ps-body-class="true">
                    <div style="padding:20px">
                        <h2>Yo Pageslide</h2>
                        <p>Put here whatever you want</p>
                        <p><a ng-click="toggle()" class="button" >Close</a></p>
                    </div>
                    </pageslide>
                </div>

                <div ng-controller="pageslideCtrl">
                    <h3>Avoid click outside</h3>
                    <p>Check to open: <input type="checkbox" ng-model="checked" ></p>
                    <pageslide ps-open="checked" ps-body-class="true" ps-click-outside="false">
                    <div style="padding:20px">
                        <h2>Yo Pageslide</h2>
                        <p>Put here whatever you want</p>
                        <p><a ng-click="toggle()" class="button" >Close</a></p>
                    </div>
                    </pageslide>
                </div>

                <div ng-controller="pageslideCtrl">
                    <h3>Dynamic psSize</h3>
                    <p>Check to open: <input type="checkbox" ng-model="checked" ></p>
                    <p>psSize <input type="text" ng-model="size" ></p>
                    <pageslide ps-open="checked" ps-click-outside="false" ps-size="{{size}}">
                        <div style="padding:20px">
                            <h2>Yo Pageslide</h2>
                            <p>Put here whatever you want</p>
                        </div>
                    </pageslide>
                </div>

                <div ng-controller="pageslideCtrl">
                    <h3>Auto close</h3>
                    <p>Check to open: <input type="checkbox" ng-model="checked" ></p>
                    <pageslide ps-open="checked" ps-auto-close="true" >
                        <div style="padding:20px">
                            <h2>Yo Pageslide</h2>
                            <p>Put here whatever you want</p>
                            <button ng-click="mockRouteChange()">Change Route</button>
                        </div>
                    </pageslide>
                </div>

                <div ng-controller="pageslideCtrl">
                    <h3>Open Close callbacks</h3>
                    <p>Check to open: <input type="checkbox" ng-model="checked" ></p>
                    <pageslide ps-open="checked" onopen="onopen" onclose="onclose" >
                        <div style="padding:20px">
                            <h2>Yo Pageslide</h2>
                            <p>meh</p>
                        </div>
                    </pageslide>
                </div>

                <div id='container1'>
                    <p>
                    Pastrami pork belly strip steak meatball boudin pork. Beef doner pastrami leberkas. Frankfurter swine boudin doner. Bacon drumstick chicken landjaeger filet mignon pancetta. Corned beef leberkas frankfurter kevin. Tongue frankfurter pastrami, pork biltong alcatra leberkas meatloaf boudin strip steak spare ribs pork chop turkey.
                    </p>
                </div>

                <div ng-controller="pageslideCtrl">
                    <h3>In a container</h3>
                    <p>Check to open: <input type="checkbox" ng-model="checked" ></p>
                    <pageslide ps-push='true' ps-open="checked" ps-container='container1' >
                        <div style="padding:20px">
                            <h2>Yo Pageslide</h2>
                            <p>meh</p>
                        </div>
                    </pageslide>
                </div>

                <div id='container2'>
                    <p>
                    Pastrami pork belly strip steak meatball boudin pork. Beef doner pastrami leberkas. Frankfurter swine boudin doner. Bacon drumstick chicken landjaeger filet mignon pancetta. Corned beef leberkas frankfurter kevin. Tongue frankfurter pastrami, pork biltong alcatra leberkas meatloaf boudin strip steak spare ribs pork chop turkey.
                    </p>
                </div>

                <div ng-controller="pageslideCtrl">
                    <h3>In a container with directions</h3>
                    <p>Check to open: <input type="checkbox" ng-model="checked" ></p>
                    <pageslide ps-side='bottom' ps-open="checked" ps-container='container2' >
                        <div style="padding:20px">
                            <h2>Yo Pageslide</h2>
                            <p>meh</p>
                        </div>
                    </pageslide>
                </div>

            </section>
        </div>

        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-42627434-1");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>


    </body>
</html>
